/* Use this contrast checker: https://webaim.org/resources/contrastchecker/ */

/* Code Along, Part 1 */

/* 1. Check the ratio of the background color and the color of the text.
    We want the ratio 4:1 or higher. What is it? */
/* 1.02:1 */


/* 2. Change the background color so that it contrasts well with the text. 
    What color do you think would provide a good contrast with red? 
    (Hint: Remember lighter colors contrast best with darker colors and vice versa). */

/* 3. Recheck the ratio now. Afterwards, go to the HTML file.*/

body {
	background-color: #ffffff;
	color: #eb2626;
}


.food-pic {
	width: 100px;
}

.food-display {
	display: flex;
	justify-content: center;
}

.title {
	text-align: center;
	color: #f7f7f7;
	background-color: #eb2626;
	border: #9a1919 solid 5px;
	border-radius: 30px;
	font-family: 'Italianno', cursive;
	font-size: 90px;
}

.header {
	width: 25%;
	margin: auto;
	text-align: center;
	color: #ffffff;
	background-color: #264d00;
	border: #9a1919 solid 2px;
	border-radius: 15px;
	font-family: 'Italianno', cursive;
	font-size: 30px;
}

.description {
	text-align: center;
	color: #9a1919;
	font-family: 'Helvetica', sans-serif;
}